services:
  postgres:
    image: postgres:16-alpine
    container_name: job_tracker_postgres
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - proxy
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: job_tracker_backend
    env_file: .env
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - uploads:/app/uploads
    networks:
      - proxy
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: job_tracker_frontend
    env_file: .env
    depends_on:
      - backend
    networks:
      - proxy
    restart: unless-stopped
    labels:
      - "traefik.enable=true"

      # Router
      - "traefik.http.routers.jobs.rule=Host(`jobs.parhammonfared.com`)"
      - "traefik.http.routers.jobs.entrypoints=websecure"
      - "traefik.http.routers.jobs.tls.certresolver=le"
      - "traefik.http.routers.jobs.service=jobs-service"

      # Service
      - "traefik.http.services.jobs-service.loadbalancer.server.port=80"

volumes:
  pg_data:
    name: job_tracker_pg_data
  uploads:
    name: job_tracker_uploads

networks:
  proxy:
    external: true
